# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment Variables (Secrets)
.env
client/.env
server/.env

# Build outputs
client/dist/
client/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store